@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Preloader.gif) center no-repeat #fff;
}

header {
	padding: 0px 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #8C43FF;
	box-sizing: border-box;
	z-index: 999;
	position: fixed;
	background: transparent;
	height: 70px;
}

.navbars {
	transition: all 0.5s;
}

header .logo {
	color: #fff;
	height: 70px;
	line-height: 70px;
	font-size: 24px;
	font-weight: bold;
	float: left;
	font-family: cursive;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li {
	list-style: none;
}

header nav ul li a {
	height: 70px;
	line-height: 70px;
	padding: 0px 30px;
	text-decoration: none;
	display: block;
	color: #fff;
	transition: 0.5s;
}

header nav ul li a:hover {
	color: #333;
	background: #fff;
	border-radius: 20px;
}

.toggle {
	color: white;
	float: right;
	font-size: 30px;
	cursor: pointer;
	display: none;
	line-height: 70px;
}

.work img {
	width: 70%;
}

.welcome_area {
	position: relative;
	z-index: 0;
	height: 1200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.title h2 {
	font-size: 60px;
	color: #fff;
	padding-top: 250px;
	text-align: center;
	font-family: Roboto;
	margin-bottom: 30px;
}

.title h4 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-family: Roboto;
}

.owl-carousel img {
	height: 100%;
	width: 100%;
}

.about, .skills  h1 {
	opacity: 0.7;
	text-align: center;
	font-size: 40px
}

.about i {
	font-size: 100px;
	padding: 10px;
}

.about p {
	font-weight: 900;
}

.single-promo {
	margin: 10%;
	border: 1px solid #3f8ed7;
	font-size: 25px;
	font-weight: 200;
	padding: 20px 10px;
	text-align: center;
	background-color: #3f8ed7;
	display: block;
}

.promo-area {
}

.single-promo:hover {
	background-color: blue;
}

.col-md-3 {
	width: 50%;
	float: left;
}

.col-sm-6 {
	width: 50%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.promo-area {
	color: #fff;
}

.slider-area, .promo-area, .brands-area, .single-product-area {
	position: relative;
	overflow: hidden;
}

.skills {
	margin-top: 50px;
	margin-bottom: 50px;
}

.owl-carousels {
	margin-top: 30px;
}

.skills-set {
	text-align: center;
	font-size: 50px;
	color: #666;
}
.skills-set img {
	width: 100px;
	height: 100px;
}
.impress_area {
  background: url(notify-bg.jpg) no-repeat scroll center center;
  background-size: cover;
  padding:120px 0px;
}

.impress_area .impress_inner {
  color: #fff
}

.impress_area .impress_inner h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase
}

.impress_area .impress_inner p {
  max-width: 770px;
  margin: 0 auto 45px
}
.main_btn2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  display: inline-block;
  padding: 0 32px;
  cursor: pointer;
  transition: all 300ms linear 0s;
  text-align: center;
  color: #222;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none !important;
  background: #fff;
  box-shadow: none !important
}

.main_btn2:hover {
  color: #fff;
  border-color: #25499F;
  background: #25499F
}
.footer-top-area {
	background: none repeat scroll 0 0 #25499F;
	color: #fff;
	padding: 35px 0 180px;
	margin-top: -5px;
}

.footer-bottom-area {
	background: #000;
	color: #fff
}

}

.footer-wid-title {
font-family: raleway;
font-size: 30px;
font-weight: 100;
color: #fff
}

.footer-about-us h2 {
font-weight: 200;
}

.footer-menu ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

.footer-menu ul li {
border-bottom: 1px dashed #555;
padding: 5px 0;
}

.footer-menu a {
display: block;
padding: 5px 0;
color: #999;
}

.footer-menu a:hover {
color: #fff;
}

.footer-social a {
background: none repeat scroll 0 0 lightblue;
color: #25499F;
display: inline-block;
font-size: 20px;
height: 40px;
margin-bottom: 10px;
margin-right: 10px;
padding-top: 5px;
text-align: center;
width: 40px;
border: 1px solid lightblue;
}

.footer-social a:hover {
background-color: #25499F;
border-color: #25499F;
color: #fff;
}

.footer-social {
margin-top: 20px
}

.newsletter-form input[type="email"] {
background: none repeat scroll 0 0 #fff;
border: medium none;
margin-bottom: 10px;
padding: 10px;
width: 100%;
color: #000;
}

.newsletter-form input[type="submit"] {
background: none repeat scroll 0 0 #fff;
border: medium none;
color: #25499F;
display: inline-block;
font-size: 18px;
padding: 7px 20px;
text-transform: uppercase;
border: 1px solid #1abc9c;
}

.newsletter-form input[type="submit"]:hover {
background: #25499F;
border-color: #25499F;
color: #fff;
}

.newsletter-form {
margin-top: 25px;
}

a {
color: #1abc9c
}

a:hover, a:focus {
color: #17a78b
}
