/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
	background-color: #000;
	color: #fff;
}

canvas {
	display: block;
	vertical-align: bottom;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(../../img.gif) center no-repeat #000;
}

/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-size: 20%;
	background-position: 50% 50%;
}

.bouncy {
	animation: bouncy 5s infinite linear;
	position: relative;
}

@keyframes bouncy {
	0% {
		top: 0em
	}

	40% {
		top: 0em
	}

	43% {
		top: -0.9em
	}

	46% {
		top: 0em
	}

	48% {
		top: -0.4em
	}

	50% {
		top: 0em
	}

	100% {
		top: 0em;
	}

}

.button {
	position: absolute;
	top: 15%;
	left: 5%;
}

.button a {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	font-size: 35px;
	width: 200px;
}

.button a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

@media(max-width:990px) {
	#particles-js {
		position: absolute;
		width: 100%;
		height: 150%;
		background-color: #000000;
		background-size: 20%;
		background-position: 50% 50%;
	}

	.button {
		display: block;
		left: 7%;
		width: 90%;
	}

	.button a {
		padding: 0.35em 90px;
		width: 90%;
	}

}

@media(min-width:990px) {
	.button {
		text-align: center;
		display: block;
	}

	.button a {
		padding: 0.35em 90px;
		width: 50%;
	}

}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../../../img.gif) center no-repeat #000;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height:450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}

}
