.top {
  background: none repeat scroll 0 0 #f4f4f4;
  margin: 3px;
}

.top a {
  color: #777;
  font-size: 13px;
  margin-right: 0px;
  padding: 20px;
  text-decoration: none;
}

.top li {
  display: inline-block;
}

.top ul {
  border-radius: 0;
  text-align: center;
  list-style: outside none none;
  padding: 0px;
  line-height: 150%;
}

.header {
  font-size: 50px;
  margin: 40px 0;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 999;
  margin-left: 50px;
}

.Faishon {
  color: #1abc9c;
}

.Wala {
  color: #888;
}

.sign {
  margin-right: 50px;
  float: right;
  color: #1abc9c;
  font-size: 35px;
  padding: 10px;
}

.sign:hover {
  background: none repeat scroll 0 0 #1abc9c;
  border-color: #FFF;
  color: white;
  transition: all 0.5s;
  transform: scale(0.8);
  text-decoration: none;
}

.brown {
  background-color: #1abc9c;
}

div.con {
  font-family: Raleway;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

div.con a {
  color: #FFF;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.highlightTextOut a {
  position: absolute;
  color: #FFF;
  top: 0px;
  left: 0px;
  padding: 30px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
}

.highlightTextOut a:hover {
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #444444;
  -moz-box-shadow: 0px 0px 10px 0px #444444;
  box-shadow: 0px 0px 10px 0px #444444;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  box-sizing: border-box;
}

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 100%;
  height: 240px;
  padding: 10px;
}

#slideshow div img {
  width: 100%;
  margin-top: -50px;
  opacity: 0.8;
}

#slideshow > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.home_banner_area {
  margin-top: -500px;
  position: relative;
  z-index: 1;
  min-height: 780px;
}

.home_banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 780px;
}

.home_banner_area .banner_inner .banner_content {
  color: #fff;
}

.home_banner_area .banner_inner .banner_content p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  max-width: 620px;
  margin: auto;
}

.home_banner_area .banner_inner .banner_content .main_btn {
  margin-top: 40px;
}

.main_btn {
  display: inline-block;
  background: #1abc9c;
  padding: 0px 40px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #1abc9c;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms linear 0s;
}

.main_btn:hover {
  background: transparent;
  color: #1abc9c;
}

.slide-content {
  position: relative;
  z-index: 9;
  padding: 30px
}

.slide-content:before {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: 25%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: -1;
}
