/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img.gif) center no-repeat #000;
}

/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-size: 20%;
	background-position: 50% 50%;
}

.bouncy {
	animation: bouncy 5s infinite linear;
	position: relative;
}

@keyframes bouncy {
	0% {
		top: 0em
	}

	40% {
		top: 0em
	}

	43% {
		top: -0.9em
	}

	46% {
		top: 0em
	}

	48% {
		top: -0.4em
	}

	50% {
		top: 0em
	}

	100% {
		top: 0em;
	}

}

.button {
	position: absolute;
	top: 15%;
	left: 5%;
}

.button a {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	font-size: 35px;
	width: 200px;
}

.button a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

@media(max-width:990px) {
	#particles-js {
		position: absolute;
		width: 100%;
		height: 150%;
		background-color: #000000;
		background-size: 20%;
		background-position: 50% 50%;
	}

	.button {
		display: block;
		left: 5%;
		width: 90%;
	}

	.button a {
		padding: 0.35em 90px;
		width: 90%;
	}

}

@media(min-width:990px) {
	.button {
		text-align: center;
		display: block;
	}

	.button a {
		padding: 0.35em 90px;
		width: 50%;
	}

}
