body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img.gif) center no-repeat #000;
}

/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-size: 20%;
	background-position: 50% 50%;
}

.bouncy {
	animation: bouncy 5s infinite linear;
	position: relative;
}

@keyframes bouncy {
	0% {
		top: 0em
	}

	40% {
		top: 0em
	}

	43% {
		top: -0.9em
	}

	46% {
		top: 0em
	}

	48% {
		top: -0.4em
	}

	50% {
		top: 0em
	}

	100% {
		top: 0em;
	}

}

.button {
	position: absolute;
	top: 40%;
	left: 32%;
	text-align: center;
}

.button a {
	width: 300px;
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
	font-size: 40px;
}

.button a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.foot {
	position: absolute;
	color: #FFF;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.foot {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	font-size: 20px;
	color: #FFF;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.foot footer a {
	color: #fff;
	text-decoration: none;
}

.foot footer a:hover {
	text-decoration: underline;
}

@media(max-width:990px) {
	.button {
		display: block;
		top: 35%;
		left: 5%;
		width: 90%;
	}

	.button a {
		padding: 0.35em 9px;
		width: 90%;
	}

}
